//colors
$secondary: #AFADB5;
$primary: #0D6EFD;
$light-white: rgba(217, 217, 217, 0.46);

//space
$space-xxs: 8px;
$space-xs: 12px;
$space-s: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 48px;

// mixins
@mixin custom_display($direction: none, $justify-content: none, $gap: none){
  display: flex;

  @if($direction != none){
    flex-direction: $direction;
  }
  @if($justify-content != none){
    justify-content: $justify-content;
  }
  @if($gap != none){
    gap: $gap;
  }
}

@mixin custom_button($mainBackgroundColor, $hoverBackgroundColor, $mainColor, $hoverColor, $borderColor: none){
  background-color: $mainBackgroundColor;
  color: $mainColor;
  border: none;
  transition: all 0.3s ease-in-out;

  &:hover{
    background-color: $hoverBackgroundColor;
    color: $hoverColor;
  }
  @if($borderColor != none){
    border: 1px solid $borderColor;
  }
}