@import "variables";

.main_block{
    @include custom_display(none, space-between, $space-xl);
    height: 90px;
    padding: 0 100px;
    align-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);;

    &__active{
        color: $primary;
    }

    &__logo{
        @include custom_display(none, center, $space-xs);
        height: 42px;
        align-items: center;
    }

    &__menu{
        display: flex;
        align-items: center;
        margin: 0;

        &__ul {
            @include custom_display(none, center, $space-xl);
            list-style-type: none;
            padding: 0;
            align-items: center;
            margin: 0;

            &__li {
                @include custom_display(none, center);
                align-items: center;

                a{
                    @include custom_display(none, center);
                    text-decoration: none;
                    align-items: center;
                }
                p{
                    margin: 0;
                    font-size: 22px;
                }

                &:hover{
                    color: $primary;
                }
            }
        }
    }

    &__account{
        @include custom_display(none, center, $space-l);
        align-items: center;
        color: black;
        cursor: pointer;

        p{
            padding: 0;
            margin: 0;
            font-size: 20px;
        }
    }
}