@import "variables";


.image_block{
        @include custom_display(none, center);
        background-color: $light-white;
        align-items: center;

        &__img{
                box-sizing: border-box;
                height: 100%;
                width: 100%;
                background-color: $light-white;
                flex-shrink: 0;
        }
}
